.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-links,
.footer-contact {
  margin: 10px;
  flex: 1;
  min-width: 250px; /* Asegura que las secciones tengan un tamaño mínimo */
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links a,
.footer-contact a {
  color: #ffcc00; /* Color dorado */
  text-decoration: none;
}

.footer-links a:hover,
.footer-contact a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 10px;
}
